<div class="transparent_box_text"> 
  <% @articles.inspect%> 
  <% @articles.each do |article| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag(article.image_url)%>
      <div class="caption">
        <h1><%= article.title %></h1>
        <h3><%= @author%></h3>
      </div>
      <%= link_to 'Show', article_path(article) %>
    </div>
  </div>
  <% end %>
</div>
