td{
	color:gray;
	padding: 60px;
}

h1{
	color:#4d0061;

}

body {
	width: 100%;
	background-color:#4d0061;
	background-image: url("/img/optimized.jpg");
	padding: 60px;
}

.transparent_box{
	background-color: #fff;
	opacity: 0.9;
	width: 300px;
	padding: 30px;
	margin: 0 auto;
}

/*#new_article{
	padding: 60px;
}
*/
